<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.gamesbykevin.maze"
      android:versionCode="3"
      android:versionName="1.9">
    <uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		
    <application 
		android:allowBackup="true" 
		android:label="@string/app_name" 
		android:icon="@drawable/ic_launcher"
		android:theme="@android:style/Theme.NoTitleBar">
		
        <activity 
            android:screenOrientation="landscape" 
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.default" />
            </intent-filter>
		</activity>
		
        <activity 
            android:screenOrientation="landscape" 
            android:name=".Splash"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         
        <!-- PARTNER KEY, use your real key instead of TEST_PARTNER_KEY -->
        <meta-data android:name="GIFTIZ_PARTNER_KEY" android:value="TEST_PARTNER_KEY"/>
        
        <!-- Activate Giftiz SDK Logging info -->
        <meta-data android:name="SHOW_GIFTIZ_LOG" android:value="true" />
    	 
        <!-- Declare Activity -->
	    <activity android:name="com.purplebrain.giftiz.sdk.GiftizWebViewActivity" />
	</application>
</manifest>